.card-container {
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: #e0ecea;
    
    height: fit-content;

}

.horizontal-line {
    text-align: center;
    border-bottom: 1px solid #536a4e;;
    width: 100%;

  }

.data-type {
    margin: 0.5rem 5%;
    color: #536a4e;
}

.data-visual {
    margin: 3.0rem 5%;
    color: #536a4e;
}

.data-summary {
    margin: 0.6rem 5%;
    color: #536a4e;
}