.header-box {
    background-color: #CDDECB;
    border-style: groove none none none;
    box-shadow: 0px 1px 5px;
    padding: 0px;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.material-icons.menu-button {
    font-size: 7vh;
    padding-left: 3vh;
    text-shadow: 0px 2.5px white,  -.5px 2.5px white, .5px 2.5px white, -.5px 0px white, .5px 0px white, 0px 0px 3px white;
    color:#537E72;
}

.material-icons.menu-button:hover {
    font-size: 7vh;
    padding-left: 3vh;
    text-shadow: 0px 2.5px white,  -.5px 2.5px white, .5px 2.5px white, -.5px 0px white, .5px 0px white, 0px 0px 3px white;
    color:#9CC97F;
}

.menu-toggle-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 6px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.title {
    font-family: Offside, sans-serif;
    text-align: Center;
    color: #537E72;
    text-shadow: 0px 2.5px white,  -.5px 2.5px white, .5px 2.5px white, -.5px 0px white, .5px 0px white, 0px 0px 3px white;
    padding-top: 0px;
    font-size: 5vh;
    text-decoration: none;
    letter-spacing: -.5px;
    font-weight: bold;
}

.title:hover {
    font-family: Offside, sans-serif;
    text-align: Center;
    color: #9CC97F;
    text-shadow: 0px 2.5px white,  -.5px 2.5px white, .5px 2.5px white, -.5px 0px white, .5px 0px white, 0px 0px 3px white;
    padding-top: 0px;
    font-size: 5vh;
    text-decoration: none;
    letter-spacing: -.5px;
    font-weight: bold;
}

.material-icons.profile-button {
    padding-right: 3vh;
    font-size: 7vh;
    text-shadow: 0px 2.5px white,  -.5px 2.5px white, .5px 2.5px white, -.5px 0px white, .5px 0px white, 0px 0px 3px white;
    color: #537E72;
}

.material-icons.profile-button:hover {
    padding-right: 3vh;
    font-size: 7vh;
    text-shadow: 0px 2.5px white,  -.5px 2.5px white, .5px 2.5px white, -.5px 0px white, .5px 0px white, 0px 0px 3px white;
    color: #9CC97F;
}